.CMS_NotCreated {
color: red;
text-decoration: underline;
}
.CMS_PageTabs {
color: #aaa;
font-size: 12px;
margin: 0 0 15px 0;
padding: 10px 0 5px 0;
border-bottom: 2px solid #ccc;
}
.CMS_PageTabs a, .CMS_PageTabs a:link, .CMS_PageTabs a:visited {
color: #333;
font-weight: bold;
}
.CMS_PageTabs a.current:link, .CMS_PageTabs a.current:visited {
text-decoration: none;
color: #666;
}
.CMS_PageTabs a.current:hover {
color: #666;
background-color: #fff;
}
.CMS_PageTabs a:hover {
background-color: #333;
color: #DCE3F1;
}
.CMS_PageTabs li {
display: inline;
margin: 0;
padding: 3px 8px 4px 8px;
}
.CMS_PageTabs .current {
color: #333;
text-decoration: none;
}
.CMS_separator {
font-size: 18px;
}
.GB_t_frame {
color: #444;
font-size: 12px;
line-height: 12px;
}
.GB_content {
background-color: #fff;
border: 3px solid #ccc;
border-top: 2px solid #ccc;
}
.GB_loader {
color: #616161;
background-color: #fff;
}
.GB_header {
border-bottom: 1px solid #ccc;
}
.GB_caption {
font-weight: bold;
}
#GB_overlay {
position: absolute;
margin: auto;
top: 0;
left: 0;
z-index: 100;
}
#GB_window {
font-family: helvetica, verdana, sans-serif;
left: 0;
top: 0;
font-size: 1px;
position: absolute;
overflow: visible;
z-index: 150;
}
#GB_frame {
border: 0;
margin: 0;
padding: 0;
overflow: auto;
}
.GB_t_frame {
margin: 0;
padding: 0;
border-collapse: collapse;
}
.GB_content {
padding: 0;
margin: 0;
vertical-align: top;
margin-bottom: 25px;
z-index: 155;
}
.GB_loader {
z-index: 500;
left: 6px;
font-size: 16px;
text-align: center;
}
.GB_caption {
}
.GB_header {
width: 100%;
text-align: left;
vertical-align: middle;
padding: 2px 1px 2px 1px;
margin: 0;
border-bottom: 1px solid #aaa;
}
.GB_close {
white-space: nowrap;
text-align: right;
width: 10%;
top: 0;
z-index: 200;
cursor: pointer;
cursor: hand;
}
.GB_close img {
width: 11px;
height: 11px;
padding: 0;
margin-right: 3px;
}
.GB_container {
margin: 0;
padding: 0;
}
body {
margin: auto;
text-align: center;
font-family: verdana, helvetica, sans-serif;
color: #222;
font-size: 12px;
line-height: 16px;
}
img {
border: none;
}
#hrtop {
background: #fff url(../static_tmpl/images/top_hr.png) repeat-x;
height: 15px;
}
#container {
text-align: left;
width: 820px;
}
#container table {
width: 820px;
border-collapse: collapse;
}
#top {
padding: 25px 0 25px 0;
}
#top #logo {
text-align: left;
}
#top #logo a {
border: none;
}
#top #v7 {
float: right;
}
#menu {
text-align: right;
vertical-align: top;
padding: 24px 0px 10px 15px;
height: 600px;
width: 150px;
}
#menu ul {
list-style: none;
padding: 0;
margin: 0 0 15px 0;
}
#menu li {
padding: 5px 0 5px 0;
}
#menu .rss a {
border: 0;
text-decoration: none;
}
#menu a {
color: #333;
padding: 1px 4px 1px 4px;
text-decoration: none;
}
#menu ul.red a {
background-color: #FFdddd;
border: none;
}
#menu ul.red a:hover {
background-color: #333;
color: #FFdddd;
}
#menu ul.green a {
background-color: #ddFFdd;
border: none;
}
#menu ul.green a:hover {
background-color: #333;
color: #ddFFdd;
}
#menu ul.blue a {
border: none;
background-color: #ddddFF;
}
#menu ul.blue a:hover {
background-color: #333;
color: #ddddFF;
}
#content {
vertical-align: top;
padding: 14px 20px 0px 0;
width: 650px;
}
#content ul {
list-style-type: none;
padding: 0;
margin: 8px 0 8px 0;
}
#content li {
background-image: url(../static_tmpl/images/bullet.png);
background-repeat: no-repeat;
background-position: 0.4em 0.3em;
padding: 2px 0 2px 2em;
}
#bottom {
text-align: left;
width: 820px;
color: #555;
border-top: 1px dashed #ccc;
padding: 10px 0 8px 0;
margin-top: 25px;
margin-bottom: 40px;
font-size: 10px;
}
#bottom #login {
float: right;
}
h1, h2, h3, h4 {
color: #111;
text-transform: uppercase;
font-weight: 500;
}
h1 {
font-size: 24px;
line-height: 24px;
margin: 0 0 0px 0;
padding: 0 0 0px 0 !important;
}
h3 {
font-size: 18px;
margin: 0;
padding: 20px 0 0 0;
}
h4 {
font-size: 15px;
margin: 0px;
margin-bottom: -3px;
padding: 10px 0 0 0;
}
p {
margin: 1em 0 1em 0;
padding: 0;
}
pre {
color: #000;
margin-top: 5px;
padding: 4px;
background-color: #f5f5f5;
border: 1px solid #999;
}
.not_created {
color: red;
text-decoration: underline;
}
span.hl {
background-color: #ffffd1;
}
a:link, a:active, a:visited {
color: #0049B7;
border-bottom: 1px solid #DDDDFF;
text-decoration: none;
}
a:hover {
color: #0066FF;
text-decoration: none;
}
.CMS_BlogEntry {
margin-bottom: 45px !important;
}
.CMS_BlogEntry h1 {
color: #111;
}
.CMS_BlogEntry h1 a, .CMS_BlogEntry h1 a:hover, .CMS_BlogEntry h1 a:visited {
color: black;
text-decoration: none;
border-bottom: 1px solid #DDDDFF;
}
.CMS_BlogLabels {
padding-top: 5px !important;
}
.syntax_help {
width: 600px;
font-size: 11px;
cursor: default;
text-align: left;
}
.syntax_help table {
font-size: 11px;
width: 100%;
border-collapse: collapse;
margin: 8px 0 8px 0;
padding: 0;
}
.syntax_help p, .syntax_help h4 {
padding: 0;
margin: 0;
}
.syntax_help tr {
padding: 0;
margin: 0;
}
.syntax_help td, .syntax_help th {
cursor: default;
border: 1px solid #ddd;
}
.syntax_help td.ex {
background-color: #dddffd;
}
.syntax_help .arr {
font-size: 15px;
border: 0;
background-color: #fff;
text-align: center;
}
.syntax_help th {
background-color: #ddd;
}
.syntax_help h1 {
font-size: 18px;
padding-top: 15px;
}
.syntax_help h2 {
font-size: 13px;
border-bottom: 1px solid #ccc;
margin-bottom: 3px;
margin-top: 20px;
padding: 0;
}
/*
 * Manage
 */
.CMS_BlogManage {
  margin: 0 0 10px 0;
}

/*
 * Blog entry
 */
.CMS_BlogEntry {
  padding: 0;
  margin: 0 0 30px 0;
}

.CMS_BlogEntry h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.CMS_BlogEntry hr {
  margin: 15px 0 0px 0;
  border: 1px dashed #ccc;
}

.CMS_BlogText {
  padding: 10px 0 0px 0;
}

.CMS_BlogText p {
  margin-left: 0;
  padding-left: 0;
}

.CMS_BlogEntryInfo, .CMS_BlogEntryInfo a, .CMS_BlogEntryInfo a:hover, .CMS_BlogEntryInfo a:visited {
  padding: 7px 0 0px 0;
  color: #777;
}

/*
 * Blog labels
 */
.CMS_BlogLabels {
  font-size: 11px;
  padding: 0px 2px 3px 2px;
}

.CMS_BlogLabels a, .CMS_BlogLabels a:hover, .CMS_BlogLabels a:visited {
  color: #555;
  margin: 0 8px 0 0;
}

/*
 * Blog comments
 */
.CMS_BlogComments {
  padding: 20px 0 0 0;
}

.CMS_BlogComments dt {
  font-weight: bold;
  color: #555;
  padding: 0 0 3px 0;
  margin: 0;
}

.CMS_BlogComments label.latest, .CMS_BlogComments label.latest a {
  color: #999;
  font-size: 12px;
}


.CMS_BlogComments label.author, .CMS_BlogComments label.author a {
  font-size: 13px;
  color: #333;
}

.CMS_BlogComments label.author a {
  text-decoration: underline;
  border: none;
}

.CMS_BlogComments label.date {
  font-weight: normal;
  font-size: 13px;
  color: #999;
}

.CMS_BlogComments dd {
  padding: 0 0 8px 8px;
  margin: 0;
}

.CMS_BlogInner {
  margin: 0;
  padding: 0px 8px 0 8px;
}

/*
 * Blog post comment
 */
.CMS_BlogPostComment {
  background-color: #eee;
}

.CMS_BlogPostComment dt {
  font-weight: bold;
  padding: 0 0 2px 0;
  margin: 0;
}

.CMS_BlogPostComment dd {
  padding: 0 0 8px 8px;
  margin: 0;
}

.CMS_BlogPostComment .desc {
  color: #555;
  font-size: 11px;
}

.CMS_BlogPostComment form, .CMS_BlogPostComment dl {
  margin: 0;
  padding: 0 0 5px 0;
}

.CMS_BlogPostComment .input {
  border: 1px solid #999;
}

.CMS_BlogPostComment textarea, .CMS_Comment_TA {
  width: 500px;
  height: 250px;
  border: 1px solid #999;
}

.CMS_BlogTitle {
  background-color: #DDDDFF;
  font-size: 13px;
  border-bottom: 1px solid #999;
  margin: 0 0 15px 0;
  padding: 5px;
}


/*
 * Blog info
 */
.CMS_BlogInfo {
  float: right;
  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 10px 25px;
  margin: 0 3px 3px 10px;
}

.CMS_BlogInfo ul {
  list-style: none none;
  margin: 0;
  padding: 0 5px 0 10px;
}

.CMS_BlogInfo ul {
  padding: 3px 4px 3px 6px;
}

.CMS_BlogInfo .head {
  font-weight: bold;
  font-size: 14px;
  padding: 0 0 5px 0;
}

.CMS_BlogInfo .caption {
  text-decoration: underline;
  padding: 3px 0 2px 0;
}

.post_list li {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.highlight .c   { color: #60a0b0; font-style: italic  }  /* Comment */
.highlight .err { border: 1px solid #FF0000           }  /* Error */
.highlight .k   { color: #007020; font-weight: bold   }  /* Keyword */
.highlight .o   { color: #666666                      }  /* Operator */
.highlight .cp  { color: #007020                      }  /* Comment.Preproc */
.highlight .gd  { color: #A00000                      }  /* Generic.Deleted */
.highlight .ge  { font-style: italic                  }  /* Generic.Emph */
.highlight .gr  { color: #FF0000                      }  /* Generic.Error */
.highlight .gh  { color: #000080; font-weight: bold   }  /* Generic.Heading */
.highlight .gi  { color: #00A000                      }  /* Generic.Inserted */
.highlight .go  { color: #808080                      }  /* Generic.Output */
.highlight .gp  { color: #c65d09; font-weight: bold   }  /* Generic.Prompt */
.highlight .gs  { font-weight: bold                   }  /* Generic.Strong */
.highlight .gu  { color: #800080; font-weight: bold   }  /* Generic.Subheading */
.highlight .gt  { color: #0040D0                      }  /* Generic.Traceback */
.highlight .kp  { color: #007020                      }  /* Keyword.Pseudo */
.highlight .kt  { color: #007020; font-weight: bold   }  /* Keyword.Type */
.highlight .m   { color: #40a070                      }  /* Literal.Number */
.highlight .s   { color: #4070a0                      }  /* Literal.String */
.highlight .na  { color: #4070a0                      }  /* Name.Attribute */
.highlight .nb  { color: #007020                      }  /* Name.Builtin */
.highlight .nc  { color: #0e84b5; font-weight: bold   }  /* Name.Class */
.highlight .no  { color: #60add5                      }  /* Name.Constant */
.highlight .nd  { color: #555555; font-weight: bold   }  /* Name.Decorator */
.highlight .ni  { color: #d55537; font-weight: bold   }  /* Name.Entity */
.highlight .ne  { color: #007020                      }  /* Name.Exception */
.highlight .nf  { color: #06287e                      }  /* Name.Function */
.highlight .nl  { color: #002070; font-weight: bold   }  /* Name.Label */
.highlight .nn  { color: #0e84b5; font-weight: bold   }  /* Name.Namespace */
.highlight .nt  { color: #062873; font-weight: bold   }  /* Name.Tag */
.highlight .nv  { color: #bb60d5                      }  /* Name.Variable */
.highlight .ow  { color: #007020; font-weight: bold   }  /* Operator.Word */
.highlight .sd  { color: #4070a0; font-style: italic  }  /* Literal.String.Doc */
.highlight .se  { color: #4070a0; font-weight: bold   }  /* Literal.String.Escape */
.highlight .si  { color: #70a0d0; font-style: italic  }  /* Literal.String.Interpol */
.highlight .sx  { color: #c65d09                      }  /* Literal.String.Other */
.highlight .sr  { color: #235388                      }  /* Literal.String.Regex */
.highlight .ss  { color: #517918                      }  /* Literal.String.Symbol */
/*
 * Manage
 */
.CMS_BlogManage {
  margin: 0 0 10px 0;
}

/*
 * Blog entry
 */
.CMS_BlogEntry {
  padding: 0;
  margin: 0 0 30px 0;
}

.CMS_BlogEntry h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.CMS_BlogEntry hr {
  margin: 15px 0 0px 0;
  border: 1px dashed #ccc;
}

.CMS_BlogText {
  padding: 10px 0 0px 0;
}

.CMS_BlogText p {
  margin-left: 0;
  padding-left: 0;
}

.CMS_BlogEntryInfo, .CMS_BlogEntryInfo a, .CMS_BlogEntryInfo a:hover, .CMS_BlogEntryInfo a:visited {
  padding: 7px 0 0px 0;
  color: #777;
}

/*
 * Blog labels
 */
.CMS_BlogLabels {
  font-size: 11px;
  padding: 0px 2px 3px 2px;
}

.CMS_BlogLabels a, .CMS_BlogLabels a:hover, .CMS_BlogLabels a:visited {
  color: #555;
  margin: 0 8px 0 0;
}

/*
 * Blog comments
 */
.CMS_BlogComments {
  padding: 20px 0 0 0;
}

.CMS_BlogComments dt {
  font-weight: bold;
  color: #555;
  padding: 0 0 3px 0;
  margin: 0;
}

.CMS_BlogComments label.latest, .CMS_BlogComments label.latest a {
  color: #999;
  font-size: 12px;
}


.CMS_BlogComments label.author, .CMS_BlogComments label.author a {
  font-size: 13px;
  color: #333;
}

.CMS_BlogComments label.author a {
  text-decoration: underline;
  border: none;
}

.CMS_BlogComments label.date {
  font-weight: normal;
  font-size: 13px;
  color: #999;
}

.CMS_BlogComments dd {
  padding: 0 0 8px 8px;
  margin: 0;
}

.CMS_BlogInner {
  margin: 0;
  padding: 0px 8px 0 8px;
}

/*
 * Blog post comment
 */
.CMS_BlogPostComment {
  background-color: #eee;
}

.CMS_BlogPostComment dt {
  font-weight: bold;
  padding: 0 0 2px 0;
  margin: 0;
}

.CMS_BlogPostComment dd {
  padding: 0 0 8px 8px;
  margin: 0;
}

.CMS_BlogPostComment .desc {
  color: #555;
  font-size: 11px;
}

.CMS_BlogPostComment form, .CMS_BlogPostComment dl {
  margin: 0;
  padding: 0 0 5px 0;
}

.CMS_BlogPostComment .input {
  border: 1px solid #999;
}

.CMS_BlogPostComment textarea, .CMS_Comment_TA {
  width: 500px;
  height: 250px;
  border: 1px solid #999;
}

.CMS_BlogTitle {
  background-color: #DDDDFF;
  font-size: 13px;
  border-bottom: 1px solid #999;
  margin: 0 0 15px 0;
  padding: 5px;
}


/*
 * Blog info
 */
.CMS_BlogInfo {
  float: right;
  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 10px 25px;
  margin: 0 3px 3px 10px;
}

.CMS_BlogInfo ul {
  list-style: none none;
  margin: 0;
  padding: 0 5px 0 10px;
}

.CMS_BlogInfo ul {
  padding: 3px 4px 3px 6px;
}

.CMS_BlogInfo .head {
  font-weight: bold;
  font-size: 14px;
  padding: 0 0 5px 0;
}

.CMS_BlogInfo .caption {
  text-decoration: underline;
  padding: 3px 0 2px 0;
}

.post_list li {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
